h1.instagram, p.blogpost__desc, h1.section-title, h1.banner-title, div.newsletter_info h2, div.best-product__product h2, h2.new-product__name, div.recommendation__info h2, h1.recommendation__title, .tabs [class^=tab] label,
.tabs [class*=" tab"] label, h3.product_varient__title, h2.product__name {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

div.newsletter_info h2, div.best-product__product h2, h2.new-product__name, div.recommendation__info h2, h1.recommendation__title, .tabs [class^=tab] label,
.tabs [class*=" tab"] label, h3.product_varient__title, h2.product__name {
  font-size: 20px;
  color: #4a3944;
}

div.instagram-title-container p.instagram__desc, div.email__input input, p.blogpost__readmore, div.see-all__container p, p.new-product__desc, p.main_text, h3.banner-subtitle, p.product__desc {
  font-family: "Prata", serif;
  margin: 0;
  color: #8a6960;
  font-size: 14px;
}

div.best-product__product p, p.product__price, div.recommendation__info p {
  font-family: "Open Sans", sans-serif;
  color: #e2ddd7;
  font-style: italic;
  margin: 0;
  font-size: 13px;
}

div.instagram-title-container a.instagram__link, a.readmore__link, div.see-all__container a, a.back__link {
  color: #8a6960;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Prata", serif;
}

nav a {
  color: #ab967b;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

nav a:hover {
  color: #f3f1ef;
}

a.btn__add_cart, a.btn__buy_now {
  font-family: "Open Sans", sans-serif;
  color: #f3f1ef;
  background-color: #4a3944;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

h3.product__price {
  font-family: "Open Sans", sans-serif;
  color: #4a3944;
  font-style: italic;
  margin: 0;
}

h1.instagram, p.blogpost__desc, h1.section-title, h1.banner-title, div.newsletter_info h2, div.best-product__product h2, h2.new-product__name, div.recommendation__info h2, h1.recommendation__title, .tabs [class^=tab] label,
.tabs [class*=" tab"] label, h3.product_varient__title, h2.product__name {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

div.newsletter_info h2, div.best-product__product h2, h2.new-product__name, div.recommendation__info h2, h1.recommendation__title, .tabs [class^=tab] label,
.tabs [class*=" tab"] label, h3.product_varient__title, h2.product__name {
  font-size: 20px;
  color: #4a3944;
}

div.instagram-title-container p.instagram__desc, div.email__input input, p.blogpost__readmore, div.see-all__container p, p.new-product__desc, p.main_text, h3.banner-subtitle, p.product__desc {
  font-family: "Prata", serif;
  margin: 0;
  color: #8a6960;
  font-size: 14px;
}

div.best-product__product p, p.product__price, div.recommendation__info p {
  font-family: "Open Sans", sans-serif;
  color: #e2ddd7;
  font-style: italic;
  margin: 0;
  font-size: 13px;
}

div.instagram-title-container a.instagram__link, a.readmore__link, div.see-all__container a, a.back__link {
  color: #8a6960;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Prata", serif;
}

nav a {
  color: #ab967b;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

nav a:hover {
  color: #f3f1ef;
}

a.btn__add_cart, a.btn__buy_now {
  font-family: "Open Sans", sans-serif;
  color: #f3f1ef;
  background-color: #4a3944;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

h3.product__price {
  font-family: "Open Sans", sans-serif;
  color: #4a3944;
  font-style: italic;
  margin: 0;
}

.tingle-modal-box__content {
  padding: 0 !important;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

div.product__wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

div.product__container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.product__left {
  width: 100vw;
}

a.back__link {
  margin-bottom: 15px;
}

div.product_image_container {
  height: 100vw;
}

div.product_page__carousel {
  height: 100vw;
}

div.product_image_container {
  background-color: none;
  margin-right: 20px;
  overflow: hidden;
}

img.product-image {
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  object-position: bottom;
}

ol.flickity-page-dots {
  top: 40px;
  bottom: auto;
}
ol.flickity-page-dots li {
  background: #f3f1ef !important;
}

div.product_right {
  margin-top: 15px;
}

h2.product__name {
  text-align: center;
  font-size: 25px !important;
  color: #4a3944;
}
h2.product__name span {
  color: #8a6960;
}

p.product__desc {
  color: #4a3944;
}

div.product_varient__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
div.product_varient__list img {
  width: 60px;
  height: 60px;
  opacity: 0.3;
}
div.product_varient__list .varient__selected {
  opacity: 1;
}

div.btn_buy__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

a.btn__buy_now {
  margin-bottom: 15px;
}

h3.product_varient__title {
  margin-top: 15px;
}

h3.product__price {
  text-align: right;
}

a.btn__add_cart {
  background-color: #f3f1ef !important;
  color: #4a3944 !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}

.tabs [class^=tab] label,
.tabs [class*=" tab"] label {
  cursor: pointer;
  font-size: 14px;
  display: block;
  line-height: 1em;
  padding: 1rem 0;
  text-align: center;
}

.tabs [class^=tab] [type=radio],
.tabs [class*=" tab"] [type=radio] {
  border-bottom: 1px solid #e2ddd7;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [class^=tab] [type=radio]:hover,
.tabs [class^=tab] [type=radio]:focus,
.tabs [class*=" tab"] [type=radio]:hover,
.tabs [class*=" tab"] [type=radio]:focus {
  border-bottom: 1px solid #4a3944;
}

.tabs [class^=tab] [type=radio]:checked,
.tabs [class*=" tab"] [type=radio]:checked {
  border-bottom: 2px solid #4a3944;
}

.tabs [class^=tab] [type=radio]:checked + div,
.tabs [class*=" tab"] [type=radio]:checked + div {
  opacity: 1;
}

.tabs [class^=tab] [type=radio] + div,
.tabs [class*=" tab"] [type=radio] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
  width: 50%;
}

.tabs .tab-2 [type=radio] + div {
  width: 200%;
  margin-left: 200%;
}

.tabs .tab-2 [type=radio]:checked + div {
  margin-left: 0;
}

.tabs .tab-2:last-child [type=radio] + div {
  margin-left: 100%;
}

.tabs .tab-2:last-child [type=radio]:checked + div {
  margin-left: -100%;
}

div.recommendation__wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

h1.recommendation__title {
  margin-bottom: 15px;
}

div.recommendation__container {
  width: 90vw;
}

div.recommendation__carousel {
  width: 90vw;
}

div.recommendation__product {
  height: 200px;
  margin-right: 10px;
  background-color: #4a3944;
}
div.recommendation__product img {
  width: 150px;
  height: 150px;
}

div.see-all__container_modal {
  margin-right: 50px;
}

div.recommendation__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.recommendation__info h2 {
  font-size: 13px;
  color: #f3f1ef;
  margin-left: 15px;
}
div.recommendation__info p {
  margin-left: 15px;
}

div.u-modal.is-visible {
  background-color: white;
}

div.u-modal-box {
  background: white;
  width: 100%;
  max-height: 100vh;
}

button.u-modal-btn {
  color: white;
  position: fixed;
  top: 23px;
  z-index: 1200;
  right: 23px;
  padding: 0px;
  height: 50px;
  width: 50px;
  background-color: #4a3944;
  border-radius: 50%;
  border: 0px;
}

button.u-modal-btn:hover {
  background-color: #f3f1ef;
  color: #4a3944;
  cursor: pointer;
}

button.u-modal-btn:hover {
  background-color: #f3f1ef;
}

div.carousel-nav {
  display: none;
}

@media screen and (min-width: 550px) {
  div.product__container {
    width: 70vw;
    justify-content: space-between;
  }
}
@media screen and (min-width: 800px) {
  div.product__container {
    justify-content: space-evenly;
    align-items: center;
  }

  div.product__wrapper {
    width: auto;
  }

  div.carousel-nav {
    display: block;
  }

  div.product__container {
    flex-direction: row;
    width: 90vw;
  }

  div.product_right {
    width: 41vw;
  }

  img.product-image {
    width: 44vw;
    height: 44vw;
  }

  div.product__left {
    width: 44vw;
  }

  div.product_page__carousel {
    height: 49vw;
  }

  div.product_image_container__small {
    height: 75px;
    width: 75px;
  }
  div.product_image_container__small img {
    width: 70px;
    height: 70px;
    opacity: 0.5;
  }

  .is-nav-selected img {
    opacity: 1 !important;
  }

  div.u-modal-box {
    padding: 0px;
  }

  h3.product__price {
    padding-right: 5px;
  }

  div.recommendation__wrapper {
    width: auto;
  }
}
@media screen and (min-width: 910px) {
  div.product_right {
    width: 37vw;
  }

  div.product__left {
    width: 37vw;
  }

  div.product_page__carousel {
    height: 40vw;
  }

  img.product-image {
    width: 37vw;
    height: 37vw;
  }
}
@media screen and (min-width: 1040px) {
  div.product_right {
    width: 32vw;
  }

  div.u-modal-box {
    max-width: 70vw;
  }

  div.product__container {
    justify-content: space-evenly;
  }

  div.recommendation__carousel {
    width: 50vw;
  }

  button.u-modal-btn {
    top: 50px;
    right: 50px;
  }
}
@media screen and (min-width: 1120px) {
  div.product_right {
    width: 32vw;
  }

  div.product__left {
    width: 32vw;
  }

  div.product_page__carousel {
    height: 37vw;
  }

  img.product-image {
    width: 32vw;
    height: 32vw;
  }
}
@media screen and (min-width: 1200px) {
  div.product_right {
    width: 28vw;
  }
}
@media screen and (min-width: 1290px) {
  div.product_right {
    width: 28vw;
  }

  div.product__left {
    width: 28vw;
  }

  div.product_page__carousel {
    height: 32vw;
  }

  img.product-image {
    width: 28vw;
    height: 28vw;
  }

  div.recommendation__carousel {
    width: 40vw;
  }
}
@media screen and (min-width: 1390px) {
  div.product_right {
    width: 25vw;
  }
}
@media screen and (min-width: 1470px) {
  div.product_right {
    width: 25vw;
  }

  div.product__left {
    width: 25vw;
  }

  div.product_page__carousel {
    height: 28vw;
  }

  img.product-image {
    width: 25vw;
    height: 25vw;
  }
}
@media screen and (min-height: 1066px) {
  div.u-modal-box {
    overflow-y: hidden;
  }
}
div.banner-img__about {
  background-image: url("assets/bg_about_2.jpg") !important;
}

div h3.about_info {
  font-size: 17px;
  padding: 17px 40px;
  color: #e2d1c1;
  text-align: center;
}

div.about_toogle-nav__container {
  background-color: rgba(0, 0, 0, 0) !important;
}

@media screen and (min-width: 900px) {
  div h3.about_info {
    font-size: 20px;
    padding: 18px 79px;
  }
}
@media screen and (min-width: 1230px) {
  div h3.about_info {
    font-size: 20px;
    padding: 18px 116px;
  }
}
@media screen and (min-width: 1400px) {
  div h3.about_info {
    font-size: 26px;
    padding: 18px 10vw;
  }
}
video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

body {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.section__wrapper {
  width: 80vw;
  margin-bottom: 50px;
}

@media screen and (min-width: 900px) {
  div.section__wrapper {
    width: 70vw;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1100px) {
  div.section__wrapper {
    width: 60vw;
  }
}
div.toggle-nav__container {
  background: pink;
  padding: 5px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: #4a3944;
}

#toggleNav {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}
#toggleNav span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #e2ddd7;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#toggleNav span:nth-child(1) {
  top: 0;
}

#toggleNav span:nth-child(2),
#toggleNav span:nth-child(3) {
  top: 7px;
}

#toggleNav span:nth-child(4) {
  top: 14px;
}

#toggleNav.active span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#toggleNav.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#toggleNav.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#toggleNav.active span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

a.nav-toggle {
  position: fixed;
  bottom: 0;
}

.nav-collapse ul.nav-small-screen {
  position: fixed;
  bottom: 0;
  left: -600px;
  -webkit-transition: 0.75s ease-in-out;
  -moz-transition: 0.75s ease-in-out;
  -o-transition: 0.75s ease-in-out;
  transition: 0.75s ease-in-out;
  background-color: #4a3944;
  z-index: 10;
}

.nav-collapse li.nav-small-screen {
  margin: 30px;
  border-bottom: 3px solid #f3f1ef;
  width: 60vw;
  padding-bottom: 3px;
}

nav a {
  cursor: pointer;
}

.opened ul.nav-small-screen {
  left: 0;
  -webkit-transition: 0.75s ease-in-out;
  -moz-transition: 0.75s ease-in-out;
  -o-transition: 0.75s ease-in-out;
  transition: 0, 75s ease-in-out;
  padding: 18px 40px !important;
}

div.navbar {
  height: 75px;
  background: #4a3944;
  position: fixed;
  width: 100vw;
  top: 0;
}

div.navbar_largescreen {
  display: none;
}

img.insta_nav {
  width: 30px;
  margin-left: 50px;
}

@media screen and (min-width: 750px) {
  .nav-collapse ul.nav-small-screen {
    display: none !important;
  }

  div.navbar_largescreen {
    height: 60px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  div.navbar_largescreen ul {
    top: 0;
    height: 60px;
    display: flex !important;
    width: 30vw;
    align-items: center;
  }
  div.navbar_largescreen .is_selected {
    color: #f3f1ef;
  }

  div.navbar__scrolled {
    background: #4a3944;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
}
div.banner-img {
  background-image: url("assets/header-1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

div.banner-info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 90vw;
}

h1.banner-title {
  color: #e2d1c1;
}

h3.banner-subtitle {
  color: #ab967b;
  font-size: 18px;
  padding-left: 2px;
}

a.chevron-down {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  background-color: #4a3944;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

i.fa-chevron-down {
  color: #e2ddd7;
  font-size: 25px;
  margin: 0;
}

@media screen and (min-width: 620px) {
  div.banner-info {
    width: 70vw;
  }

  h1.banner-title {
    font-size: 55px;
  }

  i.fa-chevron-down {
    bottom: 40px;
    font-size: 25px;
  }
}
@media screen and (min-width: 750px) {
  a.chevron-down {
    bottom: 30px;
    left: 50%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media screen and (min-width: 920px) {
  div.banner-info {
    width: 50vw;
  }

  h1.banner-title {
    font-size: 80px;
  }

  i.fa-chevron-down {
    bottom: 40px;
    font-size: 50px;
  }

  h3.banner-subtitle {
    font-size: 30px;
  }
}
section.new-product {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.product-image__bg {
  cursor: pointer;
}

div.section-title__container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 25px 0;
}

p.main_text {
  color: #4a3944;
}

div.new-product__wrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

div.section-title {
  width: 99vw;
  mask-image: url("assets/title_pattern.svg");
  -webkit-mask-box-image: url("assets/title_pattern.svg");
  mask-size: cover;
  background: #f3f1ef;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

object.section-title__svg {
  stroke: pink;
  width: calc(85vw - 100px);
  height: 100px;
  position: absolute;
  left: 100px;
}

a.new-product__link_large {
  text-decoration: none;
}

a.new-product__link_large:not(:last-child) {
  margin-bottom: 2vw;
}

div.product-image__bg {
  background: #8a6960;
  display: flex;
  background-image: url("assets/gif_1.gif");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

a.new-product__link_large:hover h2,
a.new-product__link_large:hover p {
  color: #8a6960 !important;
  text-decoration: underline;
}
a.new-product__link_large:hover img {
  box-shadow: 3px 6px 11px lightgrey;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}

h1.section-title {
  top: 27px;
  font-size: 25px;
  z-index: 5;
  color: #4a3944;
}
h1.section-title span {
  color: #8a6960;
}

div.new-product__product_large {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 2vw;
}

div.new-product__image_large:hover img {
  opacity: 0;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
}
div.new-product__image_large:hover h2 {
  color: #f3f1ef;
}
div.new-product__image_large:hover p {
  color: #f3f1ef;
}

div.new-product__info {
  padding: 15px;
  position: absolute;
  top: 0;
}

h2.new-product__name {
  color: #e2d1c1;
}

p.new-product__desc {
  color: #f3f1ef;
}

div.new-product__image_large {
  cursor: pointer;
}
div.new-product__image_large img {
  width: 80vw;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
}

div.see-all__container {
  align-self: flex-end;
  margin-top: 10px;
}
div.see-all__container object {
  width: 76px;
  height: 27px;
}
div.see-all__container p {
  text-align: right;
  position: relative;
  top: 5px;
}
div.see-all__container a {
  text-decoration: none;
}
div.see-all__container a:hover {
  color: #4a3944;
}

object.product__svg {
  display: none;
}

div.new-product__info_small {
  padding: 0;
}

div.new_product_grid__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.new_product_grid {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin-bottom: 2vw;
}

div.new_product_small_1 {
  grid-area: 1/1/2/2;
  margin-right: 2vw;
}

div.new_product_small_2 {
  grid-area: 1/2/2/3;
}

div.new_product_small_3 {
  grid-area: 2/1/3/2;
  margin-right: 2vw;
  margin-top: 1vw;
}

div.new_product_small_4 {
  grid-area: 2/2/3/3;
  margin-top: 1vw;
}

div.new_product_small {
  background: #8a6960;
  position: relative;
  cursor: pointer;
  display: flex;
}
div.new_product_small img {
  width: 39vw;
}

div.new_product_small:hover img {
  opacity: 0.7;
}
div.new_product_small:hover h2 {
  color: #f3f1ef;
}
div.new_product_small:hover p {
  color: #f3f1ef;
}

div.new-product__info_small {
  padding-left: 15px !important;
  padding-top: 15px !important;
}

div.see-all__wrapper {
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (min-width: 530px) {
  div.new-product__info {
    display: flex;
    flex-direction: column;
  }
  div.new-product__info p.new_product__desc {
    color: #8a6960;
  }

  div.new-product__product_large__reverse {
    flex-direction: row;
    align-self: flex-start;
  }
  div.new-product__product_large__reverse h2,
div.new-product__product_large__reverse p {
    text-align: start;
  }

  div.new-product__middle {
    align-self: center;
  }
}
@media screen and (min-width: 800px) {
  object.product__svg {
    display: block;
    height: 120px;
    margin-top: 20px;
    transform: rotate(240deg);
  }

  div.new_product__container {
    display: flex;
  }

  div.new-product__image_large img {
    width: 40vw;
  }

  div.new_product_small img {
    width: 19vw;
  }

  div.new_product_grid__container {
    justify-content: flex-end;
  }

  div.new-product__product_large {
    align-items: flex-end;
  }

  div.new_product__title {
    margin-top: 50px;
    width: 64vw;
    height: 100px;
  }
  div.new_product__title h1 {
    margin-bottom: 5px;
    letter-spacing: 3px;
    font-size: 30px;
  }
  div.new_product__title p {
    font-size: 15px;
  }

  div.new_product__gallery {
    margin-top: 50px;
    width: 80vw;
  }
}
@media screen and (min-width: 900px) {
  object.section-title__svg {
    width: 24vw;
  }

  object.product__svg {
    width: 24vw;
    height: 170px;
    margin-right: 5vw;
  }

  div.new-product__product_large__reverse object.product__svg {
    margin-left: 5vw;
    margin-right: 0;
  }

  div.section-title__container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  div.section-title__container h1 {
    font-size: 30px;
    letter-spacing: 4px;
  }
  div.section-title__container p {
    margin-top: 15px;
    font-size: 17px;
    padding-right: 34px;
  }

  div.new_product__gallery {
    margin-top: 50px;
    width: 80vw;
  }
}
@media screen and (min-width: 1100px) {
  object.section-title__svg {
    height: 170px;
  }

  div.see-all__container {
    margin-top: 20px;
    margin-bottom: 13px;
  }
  div.see-all__container p {
    font-size: 20px;
  }
  div.see-all__container object {
    width: 90px;
    height: 37px;
  }

  div.new-product__wrapper {
    width: 60vw;
  }

  div.new-product__image_large img {
    width: 27vw;
  }

  div.new_product_small img {
    width: 13vw;
  }

  div.new_product__title {
    width: 66vw;
  }
  div.new_product__title p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 27px;
  }

  div.new-product__product_large {
    margin-bottom: 1vw;
  }

  div.new_product_small_1 {
    margin-right: 1vw;
  }

  div.new_product_small_3 {
    margin-right: 1vw;
  }

  div.new_product_grid {
    margin-bottom: 1vw;
  }

  div.see-all__wrapper {
    width: 60vw;
  }

  div.new_product__title {
    margin-top: 50px;
  }
  div.new_product__title h1 {
    font-size: 34px;
    letter-spacing: 5px;
  }

  div.new_product__gallery {
    width: 60vw;
    margin-top: 50px;
  }
}
section.from-blog {
  background-color: #f3f1ef;
}

div.from-blog__container {
  width: 80vw;
  position: relative;
}

div.from-blog__wrapper {
  display: flex;
  justify-content: center;
}

div.from-blog-title-container {
  fill: pink;
}

div.from-blog {
  background: #e2ddd7;
}

.grid-container {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: "img1 img1 img3" "img2 img2 img3" "img2 img2 img3";
  overflow: hidden;
  z-index: 5;
}
.grid-container img {
  width: 46vw;
}
.grid-container .img3 img {
  width: 33vw;
}

.img2 {
  grid-area: img2;
}

.img1 {
  grid-area: img1;
}

.img3 {
  grid-area: img3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

p.blogpost__desc {
  width: 33vw;
  font-size: 12px;
  color: #4a3944;
}

p.blogpost__readmore {
  font-size: 10px;
}

object.from-blog__svg {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 680px) {
  p.blogpost__desc {
    font-size: 16px;
  }

  p.blogpost__readmore {
    font-size: 14px;
  }
}
@media screen and (min-width: 900px) {
  div.from-blog__container {
    width: 70vw;
    position: relative;
  }

  div.grid-container img {
    width: 42vw;
  }
  div.grid-container .img3 img {
    width: 27vw;
  }
  div.grid-container p.blogpost__desc {
    width: 27vw;
  }

  object.from-blog__svg {
    position: absolute;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
a.readmore__link {
  text-decoration: none;
}

a.readmore__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1050px) {
  div.grid-container {
    width: 60vw;
  }
  div.grid-container img {
    width: 35vw;
  }
  div.grid-container .img3 img,
div.grid-container p.blogpost__desc {
    width: 24vw;
  }
}
@media screen and (min-width: 1100px) {
  div.from-blog__container {
    width: 60vw;
  }
}
@media screen and (min-width: 1200px) {
  div.grid-container {
    width: 45vw;
  }
  div.grid-container img {
    width: 26vw;
  }
  div.grid-container .img3 img,
div.grid-container p.blogpost__desc {
    width: 18vw;
  }
}
div.best-product__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

div.best-product__product {
  margin-bottom: 50px;
  background-color: #4a3944;
  margin-right: 20px;
  overflow: hidden;
  padding-bottom: 10px;
}
div.best-product__product div.best-product__info {
  padding-left: 10px;
}
div.best-product__product img {
  width: 300px;
}
div.best-product__product h2 {
  color: #f3f1ef;
}
button.flickity-button {
  background: #4a3944;
  display: none;
}

button.flickity-button:hover {
  background: #4a3944;
}

svg.flickity-button-icon {
  fill: #f3f1ef;
}

@media screen and (min-width: 750px) {
  button.flickity-button {
    display: block;
  }

  div.best-product__product {
    margin-right: 40px;
  }
  div.best-product__product img {
    width: 400px;
  }
}
@media screen and (min-width: 1000px) {
  div.best-product__product {
    margin-right: 35px;
  }
  div.best-product__product img {
    width: 200px;
  }

  div.best-products__carousel button.previous {
    position: absolute;
    left: -70px;
  }
  div.best-products__carousel button.next {
    position: absolute;
    right: -70px;
  }
}
@media screen and (min-width: 1250px) {
  div.best-product__product img {
    width: 275px;
  }
}
section.newsletter {
  background-color: #4a3944;
}

div.newsletter_wrapper {
  padding: 60px 20px;
}

div.newsletter_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.newsletter_info h2 {
  color: #f3f1ef;
  text-align: center;
}

div.email__input {
  border-bottom: 3px solid #f3f1ef;
  padding: 3px 0;
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  -webkit-appearance: none;
  height: 35px;
}
div.email__input input {
  border: 0;
  color: #f3f1ef;
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}
div.email__input input::placeholder {
  color: white;
}
div.email__input button i {
  color: #f3f1ef;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}
div.email__input button {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  background: none;
}

@media screen and (min-width: 640px) {
  div.newsletter_wrapper {
    padding: 100px 20px;
    width: 50vw;
  }

  div.newsletter_info h2 {
    font-size: 27px;
  }
}
@media screen and (min-width: 900px) {
  div.newsletter_wrapper {
    padding: 150px 20px;
  }

  div.newsletter_info h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1100px) {
  div.newsletter_wrapper {
    padding: 170px 20px;
    width: 43vw;
  }

  div.newsletter_info h2 {
    font-size: 38px;
  }
}
section.instagram {
  background-color: #f3f1ef;
}

h1.instagram {
  color: #8a6960;
}

div.instagram__container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.instagram-title-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.instagram-title-container p.instagram__desc {
  color: #8a6960;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 13px;
}
div.instagram-title-container a.instagram__link {
  font-size: 13px;
}
div.instagram-title-container a.instagram__link:hover {
  color: #4a3944;
}

div.instagram__slider {
  width: 99vw;
}

div.instagram__photo {
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 50px;
  margin-right: 20px;
  overflow: hidden;
  margin-right: 10px;
}
div.instagram__photo img {
  width: 300px;
  height: auto;
}

@media screen and (min-width: 700px) {
  div.instagram__photo img {
    width: 400px;
  }

  div.instagram__slider {
    width: 60vw;
  }
  div.instagram__slider button.previous {
    position: absolute;
    left: -70px;
  }
  div.instagram__slider button.next {
    position: absolute;
    right: -70px;
  }
}
@media screen and (min-width: 900px) {
  div.instagram__photo img {
    width: 450px;
  }
}
@media screen and (min-width: 1000px) {
  div.instagram__photo img {
    width: 500px;
  }
}
section.footer {
  height: 50vh;
}

/*# sourceMappingURL=style.css.map */
